#p1{
    background-color: tomato;
    
}
#p2{
    background-color: rgb(238, 135, 0);
}
#p3{
    background-color: rgb(31, 107, 250);
}
#p4{
    background-color: rgb(80, 80, 80);
}
#p5{
    background-color: rgb(52, 184, 0);
}
#p6{
    background-color: rgb(67, 2, 218);
}
#p7{
    background-color: rgb(255, 118, 248);
}
#p8{
    background-color: rgb(175, 175, 175);
}